@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<div class="text-center">
    <div class="jumbotron">
        <h1 class="display-4">HOME</h1>
    </div>
    <div id="carouselExampleIndicators" class="carousel slide">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="img/carousel1.png" class="d-block w-100" alt="img/carousel1.png">
            </div>
            <div class="carousel-item">
                <img src="img/carousel2.png" class="d-block w-100" alt="carousel2">
            </div>
            <div class="carousel-item">
                <img src="img/carousel3.png" class="d-block w-100" alt="carousel3">
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
   </div>

   <br />
<div class="text-left">
    <div class="card">
        <div class="card-Header bg-secondary">
            <h3 class="card-title">Billiard Reservation</h3>
        </div>
        <div class="card-body">
            
            <p>Selamat datang di BilliardBooker, platform reservasi eksklusif untuk para pecinta billiard! Dengan kami, Anda dapat dengan mudah memesan meja billiard dan menikmati waktu bermain yang seru bersama teman-teman Anda. Segera temukan meja favorit Anda dan buat pengalaman bermain billiard yang tak terlupakan.</p>
        </div>
    </div>
</div>

<div class="text-center">
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    </div>

