@{
    ViewData["Title"] = "Privacy Policy";
    Layout = "~/Views/Shared/_Layout.cshtml";

}
<div class="text-left">
    <h1>About Us</h1>
</div>

<p>Use this page to detail your site's About Us</p>
